.band-container {
    display: flex;
    align-items: center;
    padding: 20px;
}

.band-container:nth-child(odd) {
    background-color: lightblue;
}

.band-container:nth-child(even) {
    background-color: lightskyblue;
}

.band-info {
    margin-left: 20px;
}

img {
    border-radius: 20px;
}