{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h2>My Top Artists</h2>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
        {% for band in bands %}
        <div class="col">
            <div class="card">
                {% if band.images %}
                <img src="{{ band.images[0].url }}" class="card-img-top artist-image" alt="{{ band.name }}">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ band.name }}</h5>
                    <p class="card-text">Genres: {{ ', '.join(band['genres']) }}</p>
                    <p class="card-text">Popularity: {{ band.popularity }}</p>
                    <a href="{{ band.external_urls.spotify }}" class="btn btn-primary" target="_blank">Open in Spotify</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}